## Python Standart Veri Tipleri
![tipler](PythonVeriTipleri.png)

### Değişken Tanımlama

In [4]:
degisken  = 1 #atama operatır = dir.
#python dynamic type özelliğine sahiptir.
degisken = "metin"

print(degisken)
degisken

metin

'metin'

In [5]:
type(degisken) #str tipinden

str

In [7]:
isinstance(degisken, str) #True
isinstance(degisken,(int, float)) #degisken int veya float tipinden mi? False

False

#### Primitive tipler

##### Numeric

In [10]:
i = 1 #int(1)
f =1.23 #float(1.23)
c = 3+4j #complex(3, 4)

#
print(i, f, c, sep="\n") #\n ile alt alta yazdırır.
print(type(i), type(f), type(c), sep="\n")

1
1.23
(3+4j)
<class 'int'>
<class 'float'>
<class 'complex'>

##### Bool

In [11]:
t = True #bool(True)
f = False #bool(False)

#
type(t) #bool

bool

##### Bool tipine özel durumlar
* 0, None veya benzer şekilde yokluk ifade eden nesneler (boş list, tuple, set vs.) False olarak değerlendirilir.
* Diğer veriler True olarak değerlendirilir.

In [15]:
# True olanlar:
True
bool(True)

#
bool(1)
bool(-1)

#
bool(231321)
bool("metin")
bool(" ") #spacekarakteri de True döner.

True

In [18]:
# False olanlar:
False
bool(False)

#
bool(0)

#
bool("") #boş string False döner.
bool([]) #boş liste False döner.

False

#### NoneType

In [19]:
type(None) #NoneType #None, NaN, NA

NoneType

### Container Tipler

#### Sequence Types ####
* Sıralı veri tipleridir.
* Sıra numarası ile elemanlara erişilebilir.
* Sıra numarası 0'dan başlar.

##### Str

In [21]:
# tek satırlı metinler yazmak için " veya ' tek tırnak kullanılır.
metin = "merhaba dünyalı"

# çok satırlı metinler yazmak için """ veya ''' üç tırnak kullanılır.
sqlKomutu = """
SELECT
    kolon1,
    kolon2
FROM tablo 
"""

#
print(sqlKomutu)
type(sqlKomutu)

SELECT
    kolon1,
    kolon2
FROM tablo

str

##### tuple
* Farklı tiplerdeki verileri içerebilir.
* (,,,) veya ,,,, elemanlar belirtilebilir.
* immutable tiptir. Yani elemanları güncellenemez. Eleman ekleme, çıkarma, değiştirme işlemleri yapılamaz.

In [23]:
t = (1,2,3,"metin", False,True,None)
t = 1,2,3,"metin", False,True,None

#
print(t)
type(t)

(1, 2, 3, 'metin', False, True, None)

tuple

##### list
* Farklı tiplerdeki verileri içerebilir.
* [,,,,] tanımı ile elemanlar belirtilebilir.
* mutable tiptir. Yani elemanları güncellenebilir. Eleman ekleme, çıkarma, değiştirme işlemleri yapılabilmektedir.

In [25]:
l = [1,2,3,"metin",True,False,None]

#
print(l)
type(l)

[1, 2, 3, 'metin', True, False, None]

list

##### squence elenmanlarına erişim #####
* str, tuple, list
* Sıra numarası ile elemanlara erişilebilir. Sıra numarası 0'dan başlar.
* Sıra numarası negatif olabilir. -1 sondan başlar. tersten anlamına gelir.
* index ile:
  * `sqNesne[sıraNumarası]`
* slicing ile:
  * `sqNesne[start:stop:step]`
    * start belitilmemişse varsayılan değeri 0'dır.
    * stop belitilmezse varsayılan eleman sayıdır. sona kadar enlamona gelir.
    * step belirtilmezse varsayılan değeri 1'dir. Birer birer ilerler.

In [6]:
lst = ["Ali","Veli","Mehmet","Ahmet","Hasan","Hüseyin"]

# index
lst[0] # Ali

#
lst[-1] # Hüseyin

#----------
# slicing
lst[0:4:2] # 0'dan 4'e kadar 2'şer atlayarak alır. ['Ali', 'Mehmet'] 4 dahil değil.

#step özel
lst[::] #tüm ilste.
lst[:3] #ilk 3 eleman.
lst[::-1] #ters çevirir.

['Hüseyin', 'Hasan', 'Ahmet', 'Mehmet', 'Veli', 'Ali']

### Set Types
* Elemanlarının sıra numarası yoktur.
* Elemanlar unique'dir. Yani aynı eleman birden fazla kez bulunamaz.
* Matematikteki kümelere benzerdir. Kesişim, birleşim, fark gibi işlemler yapılabilir.

##### set
* {,,,} tanımı ile elemanlar belirtilebilir.
* Kendisi mutable tiptir. FAkat elemanları immutable olmalıdır.
    * bu yönüyle set içerisinde set tanımlanamaz. frozenset kullanılabilir.
* Elemanları sıralı değildir. Sıra numarası ile erişilemez.

In [9]:
s = {0,1,2,3,"metin",False,True, "metin"}

print(s) #benzersiz elemanlar. 0 False olarak, 1 True olarak değerlendilir.

{0, 1, 2, 3, 'metin'}

In [11]:
m = {"K","A","L","A","B","A","L","I","K"}

print(m) #benzersiz elemanlar. sıra önemli değil.

{'I', 'K', 'A', 'L', 'B'}

In [15]:
kadinlar = {"Ayşe","Fatma"}
#erkekler = {"Ali","Veli",kadinlar} #HATA!!! set mutable olduğu için hata verir. elementler immutable olmalıdır.

#
erkekler = {"Ali","Veli",frozenset(kadinlar)} #doğru kullanım.

erkekler

{'Ali', 'Veli', frozenset({'Ayşe', 'Fatma'})}